<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page_title1}}</title>
</head>
<body>
    <h1>{{page_title2}}</h1>
    <h2>{{object.judul}}</h2>
    <span>ditulis oleh : {{object.penulis}}</span>
    <p>{{object.isi}}</p>

    <a href="{% url 'blog:index' %}">Kembali</a>
    <a href="{% url 'blog:update' object.pk %}">| Update</a>
    <a href="{% url 'blog:delete' object.pk %}">| Delete</a>
</body>
</html>